<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
		<meta charset="utf-8">
		<title>fakeBox</title>
		<meta name="description" content="The fakebook">
		<meta name="author" content="Mikko Harakka">
		<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css"/>-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
		


    
    
    </head>
    <body>
    
    <header th:fragment="header">
    
    <div class="ui top inverted menu" style="border-radius: 0px;">
	  <div class="header item">
	    fakeBox
	  </div>
	  <a class="item" href="/">
	    Home
	  </a>
	   <a class="item" href="/profile">
	    Profile
	  </a>
	   <form th:action="@{/logout}" method="POST">
                    <button class="negative ui button" type="submit">Logout</button>
        </form>
	</div>
    
    
		<!-- 
       <nav class="ui menu">
		  <a class="navbar-brand" href="#">fakeBox</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse" id="navbarColor01">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/profile">Profile</a>
		      </li>
		      <li class="nav-item">
		        <form th:action="@{/logout}" method="POST">
                    <button class="negative ui button" type="submit">Logout</button>
                </form>
		      </li>
		    </ul>
		    
		  </div>
		</nav>	   
		 -->        
      </header>
     
		
		<footer th:fragment="footer">
      
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="/"> Cloud Storage</a>
      </div>
		
		</footer>
	

    </body>
</html>